* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Urbanist";
}

@font-face {
    font-family: "Urbanist";
    src: url(../fonts/Urbanist-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Urbanist";
    src: url(../fonts/Urbanist-Medium.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Urbanist";
    src: url(../fonts/Urbanist-SemiBold.ttf);
    font-weight: 500;
}


header {
    background-color: #1A3129;
}

.head_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85px;  
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

nav a {
    color: white;
    font-weight: 500;
}

nav a:hover {
    color: #CBEA7B;
}




.baner_one{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    gap: 10px;
}

h1 {
    font-weight: 700;
}

.baner_one p {
font-weight: 400;
}


.banner_two p{
    border: 1px solid #F6FBE9;
    padding: 40px;
}

.ban_con{
    border: 1px solid #F6FBE9;
    background-color:#F6FBE9;
    display: flex;
    padding: 40px;
    align-items: center;
    gap: 12px;
}

.ban_con img{
    height: 60px;
    width: 60px;
}

.ban_img{
display: flex;
align-items: center;
justify-content: center;
}

.banner{
    display: flex;
    gap: 80px;
    flex-direction: column;
    padding: 100px 0;
}


.price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0;

}

.price p {
    font-weight: 400;
    padding-top: 10px;
}

.price_buttons {
    border:1px solid #a3bd60;
    padding: 10px;
    border-radius: 10px;
margin-top: 80px;
}

.Monthly {
    padding: 10px 24px;
    border-radius: 10px;
    background-color: #234338;
    color: white;
    border: none;
}

.Yearly {
    padding: 10px 24px;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(59, 59, 59);
    border: none;
    font-weight: 500;
}

.save {
    color: rgb(59, 59, 59);
}